/*******************************************************************************
 *                                                                             *
 * FONTS                                                                       *
 *                                                                             *
 ******************************************************************************/
.root{
    -fx-font-family: "Montserrat";
}
/*******************************************************************************
 *                                                                             *
 * FONTS                                                                       *
 *                                                                             *
 ******************************************************************************/





/*******************************************************************************
 *                                                                             *
 * STANDARD ELEMENTS                                                           *
 *                                                                             *
 ******************************************************************************/
.credits-textFieldGray {
    /*-fx-padding:  5 0 0 15;*/
    -fx-background-color: #fff;
    -fx-border-width: 1;
    -fx-border-color: black;
    -fx-font-size: 16px;
    -fx-background-radius: 10;
    -fx-text-fill:black;
    -fx-border-radius: 15;
    -fx-wrap-text: true;
    /*-fx-alignment: top-left;*/
}

.credits-textField {
    /*-fx-padding:  5 0 0 15;*/
    -fx-background-color: #fff;
    -fx-border-width: 1;
    -fx-border-color: black;
    -fx-font-size: 16px;
    -fx-background-radius: 10;
    -fx-text-fill:black;
    -fx-border-radius: 15;
    -fx-wrap-text: true;
    /*-fx-alignment: top-left;*/

}


.credits-topLabelText {
    -fx-font-size: 28px
}

.credits-topLabelGrayText {
    -fx-font-size: 16px;
    -fx-text-fill: #818181
}


.credits-label {
    -fx-padding:  5 0 0 15;
    -fx-font-size: 16px;
}


.credits-labelError {
    -fx-padding:  5 0 0 15;
    -fx-font-size: 16px;
    -fx-text-fill: red
}

.credits-not-padding-label {
    -fx-font-size: 16px;
}

.credits--not-padding-labelError {
    -fx-font-size: 16px;
    -fx-text-fill: red
}

/** Size the combo-box drop down list. */
.combo-box-popup > .list-view {
    -fx-pref-width: 1000;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-padding: 0 0.20em 0 0.20em;
}
.split-pane:vertical > .split-pane-divider {
    -fx-padding: 0 0.20em 0 0.20em;
}

.tree-view, .tree-cell {
    -fx-pref-height: 40;
}
.tree-view, .tree-cell .label {
    -fx-font-size: 12;
}
/*******************************************************************************
 *                                                                             *
 * STANDARD ELEMENTS                                                           *
 *                                                                             *
 ******************************************************************************/





/*******************************************************************************
 *                                                                             *
 * STANDARD BUTTONS                                                            *
 *                                                                             *
 ******************************************************************************/
.credits-button, .credits-button-refresh {
    -fx-font-weight: bold;
    -fx-background-color: #fff;
    -fx-background-radius: 22;
    -fx-border-color: #000;
    -fx-border-width: 2;
    -fx-font-size: 16;
    -fx-text-fill:black;
    -fx-border-radius: 30;
    -fx-wrap-text: true;
    -fx-alignment: center;
}


.credits-button:hover{
    -fx-font-weight: bold;
    -fx-background-color: white;
    -fx-background-radius: 22;
    -fx-font-size: 16;
    -fx-text-fill:#2196f3;
    -fx-border-radius: 30;
}

.credits-button:pressed {
    -fx-scale-y: 0.98;
    -fx-scale-x: 0.98;
    -fx-font-weight: bold;
    -fx-background-color: white;
    -fx-background-radius: 22;
    -fx-text-fill:#2196f3;
    -fx-border-radius: 30;
}

.credits-button-refresh:pressed {
    -fx-rotate:50;
}
/*******************************************************************************
 *                                                                             *
 * STANDARD BUTTONS                                                            *
 *                                                                             *
 ******************************************************************************/





/*******************************************************************************
 *                                                                             *
 * DEPLOY COMBOBOX                                                             *
 *                                                                             *
 ******************************************************************************/
#cbContractType >  .combo-box-popup>.list-view {
    -fx-pref-width: 260;
}
/*******************************************************************************
 *                                                                             *
 * DEPLOY COMBOBOX                                                             *
 *                                                                             *
 ******************************************************************************/




/*******************************************************************************
 *                                                                             *
 * SMART COMBOBOX                                                              *
 *                                                                             *
 ******************************************************************************/

.credits-combobox {
    -fx-background-color: #fff;
    -fx-border-width: 1;
    -fx-border-color: #000;
    -fx-font-size: 16px;
    -fx-border-radius: 15;
}

.credits-combobox .combo-box-popup>.list-view {
    -fx-padding: -35 0 0 0;
    -fx-border-color: black;
    -fx-pref-width: 770;
    -fx-pref-height: 200;
}

.credits-combobox:showing
{
    -fx-background-radius: 15 15 0 0;
    -fx-border-radius: 15 15 0 0;
}

/*******************************************************************************
 *                                                                             *
 * SMART COMBOBOX                                                              *
 *                                                                             *
 ******************************************************************************/







/*******************************************************************************
 *                                                                             *
 * CREDITS HISTORY                                                              *
 *                                                                             *
 ******************************************************************************/

.credits-hist-combobox .arrow-button .arrow{
    -fx-background-color: white;
}

.credits-history-pane .combo-box-base .cell {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.credits-history-pane .combo-box-popup .list-view {
    -fx-pref-width: 80;
    -fx-pref-height: 300;
    -fx-background-color: transparent;
}


.credits-history-pane .combo-box-popup .cell{
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-text-fill: white;
    -fx-background-color: #808080;
    -fx-alignment: left;
}

.credits-history-pane .combo-box-popup .cell:hover{
    -fx-text-fill: black;
    -fx-background-color: #00FF90;
}

.credits-hist-combobox .arrow-button {
    -fx-alignment: left;
}


.credits-history-pane .combo-box-base {
    -fx-alignment: center;
    -fx-background-color: #808080;
    -fx-border-width: 1;
    -fx-border-color: black;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-text-fill: white;
}

.credits-history-tab-pane {
    -fx-border-width: 1;
    -fx-border-color: black;
    -fx-border-radius: 15;

}

.credits-history-table-view {
    -fx-padding: 0 1 0 0;
    -fx-background-insets: 0;

    -fx-background-color: transparent;
}

.credits-history-table-view .column-header {
    -fx-background-color: transparent;    /* made transparent */
    -fx-cursor: hand;
}

.credits-transaction-table-view .column-header-background {
    -fx-background-radius: 15 15 0 0;
}

.credits-history-table-view .column-header-background {
    -fx-background-color: #E9ECEF;
}


.credits-history-table-view .filler {
    -fx-background-color: transparent;
}

.credits-history-table-view .virtual-flow .scroll-bar .thumb {
    /*-fx-background-color: #424141;*/
}

.credits-history-table-view .table-row-cell{
    -fx-background-color: #F2F2F2;
}

.credits-history-table-view .table-row-cell:odd{
    -fx-background-color: #FFFFFF;
}

.credits-history-table-view .table-row-cell:selected {
    -fx-background-color: #007BFF;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.credits-history-table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

.credits-history-table-view .virtual-flow .scroll-bar .increment-button,
.credits-history-table-view .virtual-flow .scroll-bar .decrement-button,
.credits-history-table-view .virtual-flow .scroll-bar .track
{
    -fx-background-color: white;
}
/*******************************************************************************
 *                                                                             *
 * CREDITS HISTORY                                                              *
 *                                                                             *
 ******************************************************************************/





/*******************************************************************************
 *                                                                             *
 * DEPLOY TAB PANE                                                              *
 *                                                                             *
 ******************************************************************************/


.credits-deploy-tab-pane > .tab-header-area {
    -fx-padding: 0;
}

.credits-deploy-tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: #F2F2F2;
    -fx-border-color: #9B9B9B;
    -fx-border-width: 1 1 0 1;
}

.credits-deploy-tab-pane .credits-deploy-tab:selected
{
    -fx-background-color: #FFFFFF;
}

.credits-deploy-tab-pane .credits-deploy-tab:selected:hover
{
    -fx-background-color: #FFFFFF;
}

.credits-deploy-tab-pane .credits-deploy-tab:hover
{
    -fx-cursor: hand;
    -fx-background-color: #D4D4D4;
}
.credits-deploy-tab-pane .credits-deploy-tab
{
    -fx-background-radius: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-alignment: CENTER;
    -fx-background-color: #D4D4D4;
    -fx-border-color: #9B9B9B;
}

.credits-deploy-tab-pane .credits-deploy-tab:selected .tab-label {
    -fx-text-fill: #335BB3;
    -fx-font-weight: bold;
}

/*******************************************************************************
 *                                                                             *
 * DEPLOY TAB PANE                                                              *
 *                                                                             *
 ******************************************************************************/


/*******************************************************************************
 *                                                                             *
 * DEPLOY BOTTOM_TAB PANE                                                              *
 *                                                                             *
 ******************************************************************************/


.credits-deploy-bottom-tab-pane > .tab-header-area {
    -fx-padding: 0;
}

.credits-deploy-bottom-tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: #F2F2F2;
    -fx-border-color: #9B9B9B;
    -fx-border-width: 0 1 1 1;
}

.credits-deploy-bottom-tab-pane .credits-deploy-bottom-tab:selected
{
    -fx-border-color: #BDBDBD;
    -fx-background-color: #BDBDBD;
}

.credits-deploy-bottom-tab-pane .credits-deploy-bottom-tab:selected:hover
{
    -fx-border-color: #BDBDBD;
    -fx-background-color: #BDBDBD;
}

.credits-deploy-bottom-tab-pane .credits-deploy-bottom-tab:hover
{
    -fx-border-color: #D9D9D9;
    -fx-background-color: #D9D9D9;
    -fx-cursor: hand;
}
.credits-deploy-bottom-tab-pane .credits-deploy-bottom-tab
{
    -fx-pref-height: 28;
    -fx-background-radius: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-alignment: CENTER;
    -fx-background-color: #F2F2F2;
    -fx-border-color: transparent;
}

/*******************************************************************************
 *                                                                             *
 * DEPLOY BOTTOM_TAB PANE                                                              *
 *                                                                             *
 ******************************************************************************/



/*******************************************************************************
 *                                                                             *
 * DEPLOY BUTTON                                                               *
 *                                                                             *
 ******************************************************************************/


.credits-deploy-button {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.credits-deploy-button:hover {
}

.credits-deploy-button:pressed {
    -fx-scale-y: 0.98;
    -fx-scale-x: 0.98;
}

/*******************************************************************************
 *                                                                             *
 * DEPLOY BUTTON                                                               *
 *                                                                             *
 ******************************************************************************/




/*******************************************************************************
 *                                                                             *
 * DEPLOY TEXTAREA                                                             *
 *                                                                             *
 ******************************************************************************/


.credits-deploy-textArea {


    -fx-background-radius: 0;

    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-focus-color: #CFCFCF;
    -fx-faint-focus-color: transparent;
}

.credits-deploy-textArea:focused .content {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}


.credits-deploy-textArea .content {
    -fx-cursor: text;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}
/*******************************************************************************
 *                                                                             *
 * DEPLOY TEXTAREA                                                             *
 *                                                                             *
 ******************************************************************************/




/*******************************************************************************
 *                                                                             *
 * SMART TAB PANE                                                              *
 *                                                                             *
 ******************************************************************************/
.credits-tab-pane:focused > .tab-header-area > .headers-region .credits-tab:selected .focus-indicator {
    -fx-border-radius: 10 10 0 0;
}

.credits-tab-pane:focused > .tab-header-area > .headers-region .credits-bottom-tab:selected .focus-indicator {
    -fx-border-radius: 0 0 10 10;
}


.credits-tab-pane > .tab-header-area > .tab-header-background {
    -fx-opacity: 0;
}

.credits-tab-pane
{
    -fx-tab-min-width:90px;
}

.credits-tab-pane .credits-tab,
.credits-tab-pane .credits-bottom-tab
{
    -fx-background-radius: 10 10 0 0;
    -fx-border-radius: 10 10 0 0;
    -fx-background-insets: 0 1 0 1,0,0;
}
.credits-tab-pane .credits-tab,
.credits-tab-pane .credits-bottom-tab
{
    -fx-background-color: #808080;

}

.credits-tab-pane .credits-tab:selected,
.credits-tab-pane .credits-bottom-tab:selected
{
    -fx-background-color: #3c3c3c;
}

.credits-tab-pane .credits-tab  .tab-label,
.credits-tab-pane .credits-bottom-tab  .tab-label
{
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.credits-tab-pane .credits-tab:selected .tab-label,
.credits-tab-pane .credits-bottom-tab:selected .tab-label{
    -fx-alignment: CENTER;
    -fx-text-fill: white;
}

.credits-PaneInTab {
    -fx-border-color: black;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
}

.credits-tab-pane:top *.tab-header-area {
    -fx-padding: 0 0 0 15; /* overridden as 5 2 0 0 */
}

.toggle-button {
    -fx-background-color: transparent;
    -fx-graphic: url('img/star.png');
}

.toggle-button:selected {
    -fx-graphic: url('img/star1.png');
}
/*******************************************************************************
 *                                                                             *
 * SMART TAB PANE                                                              *
 *                                                                             *
 ******************************************************************************/






/*******************************************************************************
 *                                                                             *
 * SMART TABLE VIEW                                                            *
 *                                                                             *
 ******************************************************************************/
.credits-smart-table-view {
    -fx-padding: 8px 3px;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-font-size: 11px;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.credits-smart-table-view .column-header,
.credits-smart-table-view .column-header-background,
.credits-smart-table-view .filler {
    -fx-background-color: transparent;
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;

}
.credits-smart-table-view table-row-cell:odd{
    -fx-background-color: white;
}


.credits-smart-table-view .table-row-cell{
    -fx-border-color: transparent;
    -fx-background-color: white;
    -fx-table-cell-border-color:transparent;
}

.credits-smart-table-view .table-row-cell .cell {
    -fx-alignment: CENTER-LEFT;
}

.credits-smart-table-view .table-row-cell:selected {
    -fx-background-color: #0A85C8;
    -fx-font-weight: bold;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
    -fx-text-background-color: white;

}

.credits-smart-table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: transparent;
}

/*******************************************************************************
 *                                                                             *
 * SMART TABLE VIEW                                                            *
 *                                                                             *
 ******************************************************************************/






/*******************************************************************************
 *                                                                             *
 * SCROLL-BAR                                                                  *
 *                                                                             *
 ******************************************************************************/
.scroll-pane {
    -fx-background-color: transparent;
}
.scroll-bar .increment-button {
    -fx-background-color: transparent;}
.scroll-bar .decrement-button {
    -fx-background-color: transparent;}
.scroll-bar {
    -fx-background-color: white;
}
.scroll-bar .track-background {
    -fx-background-color: transparent;
}
.scroll-bar .track {
    -fx-background-color: transparent;
}
.hide-thumb .scroll-bar .thumb {
    -fx-background-color: transparent;
}
.corner {
    -fx-background-color: transparent;
}
.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: transparent;
}
/*******************************************************************************
 *                                                                             *
 * SCROLL-BAR                                                                  *
 *                                                                             *
 ******************************************************************************/






/*******************************************************************************
 *                                                                             *
 * COPYABLE LABEL                                                              *
 *                                                                             *
 ******************************************************************************/
.copyable-label, .copyable-label:focused {
    -fx-background-color: transparent ;
    -fx-background-insets: 0px ;
}
/*******************************************************************************
 *                                                                             *
 * COPYABLE LABEL                                                              *
 *                                                                             *
 ******************************************************************************/






/*******************************************************************************
 *                                                                             *
 * HEADER                                                                      *
 *                                                                             *
 ******************************************************************************/
.credits-headerPane,
.credits-headerButton .menu-item,
.credits-headerButton .context-menu {
    -fx-background-color: #0A85C8;
}

.credits-headerButton,
.menu-button .label,
.credits-menuitemButton{
    -fx-font-weight: bold;
    -fx-background-color:  transparent;
    -fx-font-size: 16px;
    -fx-alignment: center;
    -fx-text-fill: white;
}

.credits-headerButton .arrow-button .arrow {
    -fx-background-color: white;
}

.credits-headerButton:hover,
.menu-button:hover .label,
.credits-menuitemButton:hover {
    -fx-text-fill:black;
}


.credits-syncProgress > .bar {
    -fx-background-color: black;
    -fx-padding: 2px;
    -fx-background-insets: 0;
}
.credits-syncProgress:indeterminate > .bar {
    -fx-background-color: black;
    -fx-padding: 2px;
    -fx-background-insets: 0;
}
.credits-syncProgress > .track {
    -fx-background-color: white;
}
/*******************************************************************************
 *                                                                             *
 * HEADER                                                                      *
 *                                                                             *
 ******************************************************************************/







/*******************************************************************************
 *                                                                             *
 * TRANSACTION INFO LIST                                                       *
 *                                                                             *
 ******************************************************************************/
.credits-transaction-params-list { -fx-background-insets: 0; -fx-padding: 0; }

.credits-transaction-params-list .list-cell:odd {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-color: transparent;

}

.credits-transaction-params-list .list-cell {
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-text-fill: black;
}
/*******************************************************************************
 *                                                                             *
 * TRANSACTION INFO LIST                                                       *
 *                                                                             *
 ******************************************************************************/







/*******************************************************************************
 *                                                                             *
 * CODEAREA POPUP TOOLBOX                                                      *
 *                                                                             *
 ******************************************************************************/
.credits-popup-toolbox .button{
    -fx-background-color : ghostwhite;
}

.credits-popup-toolbox .button:hover{
    -fx-text-fill:#2196f3;
}

.credits-popup-toolbox {
    -fx-border-width: 1;
    -fx-border-color: black;
    -fx-padding: 1 1 1 1;
    -fx-background-color : ghostwhite;
}
/*******************************************************************************
 *                                                                             *
 * CODEAREA POPUP TOOLBOX                                                      *
 *                                                                             *
 ******************************************************************************/







/*******************************************************************************
 *                                                                             *
 * WELCOME  ELEMENTS                                                           *
 *                                                                             *
 ******************************************************************************/
.credits-welcome-column-top-label {
    -fx-font-size:16px;
    -fx-font-weight: bold;
}

.credits-welcome-column-label {
    -fx-font-size: 14px;
    -fx-text-fill: #808080;
}
/*******************************************************************************
 *                                                                             *
 * WELCOME  ELEMENTS                                                           *
 *                                                                             *
 ******************************************************************************/






/*******************************************************************************
 *                                                                             *
 * BORDERS                                                                     *
 *                                                                             *
 ******************************************************************************/


.credits-borderWhitePane {
    -fx-background-color: #fff;
}

.credits-border-red {
    -fx-border-color: red;
}

.credits-border-black {
    -fx-border-color: black;
}


/*******************************************************************************
 *                                                                             *
 * BORDERS                                                                     *
 *                                                                             *
 ******************************************************************************/






/*******************************************************************************
 *                                                                             *
 * TEXT AREA                                                                   *
 *                                                                             *
 ******************************************************************************/



.keyword {
    -fx-fill: purple;
    -fx-font-weight: bold;
}
.semicolon {
    -fx-font-weight: bold;
}
.paren {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}
.bracket {
    -fx-fill: darkgreen;
    -fx-font-weight: bold;
}
.brace {
    -fx-fill: teal;
    -fx-font-weight: bold;
}
.string {
    -fx-fill: blue;
}

.comment {
    -fx-fill: cadetblue;
}

.styled-text-area .paragraph-box .label {
    -fx-background-color: white;
    -fx-font-weight: bold;
}

/*******************************************************************************
 *                                                                             *
 * TEXT AREA                                                                   *
 *                                                                             *
 ******************************************************************************/
