@font-face {
    font-family: 'Montserrat SemiBold';
    src: url('fonts/Montserrat-SemiBold.otf');
}

.button {
    -fx-font-veight: bold;
    -fx-background-color: #f2f9fc;
    -fx-background-radius: 22;
    -fx-font-size: 16;
    -fx-text-fill:black;
    -fx-border-radius: 20;
}
.button:hover{
    -fx-font-veight: bold;
    -fx-background-color: white;
    -fx-background-radius: 22;
    -fx-font-size: 16;
    -fx-text-fill:#2196f3;
    -fx-border-radius: 20;
}

.button:pressed {
    -fx-font-veight:bold;
    -fx-background-color: white;
    -fx-background-radius: 22;
    -fx-text-fill:#2196f3;
    -fx-border-radius: 20;
    -fx-rotate:1;
}

.keyword {
    -fx-fill: purple;
    -fx-font-weight: bold;
}
.semicolon {
    -fx-font-weight: bold;
}
.paren {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}
.bracket {
    -fx-fill: darkgreen;
    -fx-font-weight: bold;
}
.brace {
    -fx-fill: teal;
    -fx-font-weight: bold;
}
.string {
    -fx-fill: blue;
}

.comment {
	-fx-fill: cadetblue;
}

/** Size the combo-box drop down list. */
.combo-box-popup > .list-view {
    -fx-pref-width: 1000;
}

.tree-cell  {
    -fx-font-size: 14px;
}


.paragraph-box:has-caret {
    -fx-background-color: #f2f9fc;
}

#refresh-balance-button {
    -fx-min-height: 16px;
    -fx-min-width: 16px;
    -fx-background-image: url("img/refresh.jpg");
    -fx-background-size: 14px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #fff;
    -fx-border-width: 0;
    -fx-border-color: #000
}

#cbMethods .combo-box-popup>.list-view {
    -fx-pref-width: 391;
    -fx-pref-height: 200;
}

#cbCoin .combo-box-popup>.list-view {
    -fx-pref-width: 300.0;
}
