@font-face {
    font-family: 'Montserrat SemiBold';
    src: url('fonts/Montserrat-SemiBold.otf');
}

.keyword {
    -fx-fill: purple;
    -fx-font-weight: bold;
}
.semicolon {
    -fx-font-weight: bold;
}
.paren {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}
.bracket {
    -fx-fill: darkgreen;
    -fx-font-weight: bold;
}
.brace {
    -fx-fill: teal;
    -fx-font-weight: bold;
}
.string {
    -fx-fill: blue;
}

.comment {
	-fx-fill: cadetblue;
}

.paragraph-box:has-caret {
    -fx-background-color: #f2f9fc;
}

#refresh-balance-button {
    -fx-min-height: 50px;
    -fx-min-width: 50px;
    -fx-background-image: url("img/refresh.jpg");
    -fx-background-size: 70px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #fff;
    -fx-border-width: 2;
    -fx-border-color: #000
}